body {
    background: url("../images/getty_542291608_205616 (1).jpg" );
    size: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
     width: 100%;
    /* z-index: 10; */
    /* background: black */
}

.jumbotron{
    opacity: 0.6;
}

.btn-primary {
    opacity: 1.0;
}