body {
    background: url("../images/highfive.jpg" );
    size: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
     width: 100%;
}

.jumbotron{
    margin-top: 30px;
    opacity: 0.6;
}

.btn-primary {
    opacity: 1.0;
}